<footer>
    <img src="../assets/img/ang.png" alt="ang">
    <div class="nav">
        <div class="details">
            <div class="phone">
                <p><img src="../assets/img/telephone.svg" alt="telephone">+380687646775</p>
                <ul>
                    <li><img src="../assets/img/telegram.webp" alt="telegram"></li>
                    <li><img src="https://romanmakoviichuk.github.io/Resume/img/main/github.svg" alt="github"></li>
                    <li><img src="../assets/img/inst.webp" alt="instagram"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
