<header>
    <img src="/assets/images/ang.png" alt="ang">
    <div class="nav">
        <ul>
            <li><a class="choice" href="#portfolio">Portfolio</a></li>
            <li><a class="choice" href="#skills">Skills</a></li>
            <li><a class="choice" href="#projects">Advantages</a></li>
            <li><a class="choice" href="#about">Contacts</a></li>
            <li class="resume"><a href="../assets/images/resume.pdf" target="_blank">Resume</a></li>
        </ul>
    </div>
</header>
