header {
    width: 100%;
    height: 150px;
    background: #000;
    border-bottom: 0.0625rem solid #696969;
    display: flex;
    justify-content: space-around;
    position: sticky;
    align-items: center;
    

    img {
        width: 100px;
        height: 100px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            width: 800px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;



            li {
                list-style-type: none;
                font-size: 25px;
                color: white;
                width: fit-content;
                cursor: pointer;
                transition: 0.2s ease-in;

                .choice, a {
                    color: white;
                    position: relative;
                    text-decoration: none;
                    transition: 0.3s ease;

                    &:hover {
                        color: #f50f60;
                    }
                }
                  
                .choice::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    border-radius: 4px;
                    background-color: #f50f60;
                    bottom: -5px;
                    left: 0;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }
                  
                .choice:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }




            }

            li:hover {
                color: #f50f60;
            }

            .resume {
                font-weight: bold;
                font-size: 30px;

                a {

                }
                
            }
            
        }
    }
}

// Responsive

@media only screen and (max-width: 767px) { 

    header {
        height: 100px;
        text-align: center;

        .nav {
            width: 500px;
        }

        img { 
            width: 50px;
            height: 50px;
        }

    }


    a {
        font-size: 20px;
    }

    
}

@media only screen and (min-width: 767px) and (max-width: 1024px) { 
    header {
        height: 100px;

        .nav {
            width: 500px;
        }
        img { 
            width: 70px;
            height: 70px;
        }

    }


    a {
        font-size: 20px;
    }
}