<app-header></app-header>

<main>

    <section class="contact">

        <div class="name">
            <h1>Yaroslav Katsarskiy</h1>
            <h1 class="color">Front-end Developer</h1>
        </div>

        <div class="main">

            <div class="descr">
                <p>
                    Creating responsive websites and web applications using HTML, CSS, ANGULAR and other relevant
                    technologies
                </p>
            </div>

            <div class="me">
                <span></span>
                <img src="../assets/img/me.png" alt="me">
            </div>

            <div class="phone">
                <button>CONTACT WITH ME</button>
                <p><img src="../assets/img/telephone.svg" alt="telephone">+380687646775</p>
                <ul>
                    <li><img src="../assets/img/telegram.webp" alt="telegram"></li>
                    <li><img src="https://romanmakoviichuk.github.io/Resume/img/main/github.svg" alt="github"></li>
                    <li><img src="../assets/img/inst.webp" alt="instagram"></li>
                </ul>
            </div>

        </div>

    </section>

    <section class="portfolio">
        <div class="title">
            <h1>Portfolio</h1>
        </div>

        <div class="cards">
            
            <div class="card">
                <img src="../assets/img/cocktails.jpg" alt="cocktails">
            </div>
            <div class="card">
                <img src="../assets/img/cocktails.jpg" alt="cocktails">
            </div>
            <div class="card">
                <img src="../assets/img/cocktails.jpg" alt="cocktails">
            </div>

        </div>

    </section>

    <section class="skills">

        <div class="title">
            <h1>Skills</h1>
        </div>

        <div class="cards">

            <div class="card">
                <p>HTML</p>
            </div>
            <div class="card">
                <p>CSS</p>
            </div>
            <div class="card">
                <p>SASS</p>
            </div>
            <div class="card">
                <p>JAVASCRIPT</p>
            </div>
            <div class="card">
                <p>TYPESCRIPT</p>
            </div>
            <div class="card">
                <p>ANGULAR</p>
            </div>
            <div class="card">
                <p>WEBPACK</p>
            </div>
            <div class="card">
                <p>BABEL</p>
            </div>
            <div class="card">
                <p>GIT</p>
            </div>

        </div>

    </section>

</main>

<app-footer></app-footer>
